.signFormContainer {
  margin: auto;
  padding: 20px;
  padding-bottom: 35px;
  width: 30%;
  background-color: black;
  border-radius: 12px;
  color: white;
}

.signFormContainer h1 {
  margin-bottom: 40px;
  margin-left: 40px;
  color: #ff7400;
}

#login-form {
  width: 80%;
}

.signForm {
  font-size: 18px;
  margin-left: 40px;
}

.signForm input[type="text"],
.signForm input[type="password"],
.signForm input[type="email"],
.signForm select {
  padding: 5px 0 5px 0;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  width: 60%;
  font-size: medium;
  text-indent: 5px;
}

.formGroup {
  position: relative;
}

.togglePassword {
  position: absolute;
  top: 35%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.togglePassword i {
  color: grey;
}

.signup{
  top: 50% !important;
  right: 175px !important;
  font-size: small;
}

.submit {
  font-size: medium;
  padding: 8px 20px 8px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 7px;
  background-color: #ff6b04;
  color: white;
}

.submit:hover {
  background-color: #cb5604;
  cursor: pointer;
}

.loginInput {
  height: 30px;
  width: 100% !important;
  text-indent: 10px !important;
}

#login-name, #signup-name{
  margin-bottom: 20px;
}

#fullName {
  margin-bottom: 0;
}

.loginInput::placeholder {
  font-size: medium;
  color: #797474;
  text-indent: 10px;
}

.login-button {
  font-size: large;
  padding: 10px 0 10px 0;
  border: none;
  border-radius: 6px;
  background-color: #ff6b04;
  color: white;
  width: 100%;
}

.login-button:hover {
  cursor: pointer;
  background-color: #cb5604;
}

.errorText {
  color: red;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 0;
}

#create-account, #admin-login-text  {
  font-size: 16px;
  color: #ff9e5b;
}

#create-account:hover, #admin-login-text:hover {
  color: #cf7d45;
}

#edit-profile-form{
  padding-bottom: 20px;
}

#newName,
#newEmail,
#oldPassword,
#newPassword,
#saveBtn {
  width: 80% !important;
  margin-top: 5px;
  padding: 2px 0;
}

#saveBtn{
  margin-top: 8px !important;
  padding: 10px;
}

#upload-photo{
  margin-left: 45px;
}

#upload-photo input:hover{
  cursor: pointer;
}

#upload{
  margin-top: 22px;
  font-size: medium;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background-color: #ff6b04;
  color: white;
}

#upload:hover {
  cursor: pointer;
  background-color: #cb5604;
}