.card {
  background-color: black;
  color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 30px 30px 30px 60px;
  max-width: 615px;
  font-family: Arial, sans-serif;
  font-size: mediun;
}

.card h2 {
  margin-bottom: 20px;
  color: #ff6b04;
}

.card ol {
  margin-bottom: 20px;
}

.card li {
  margin-bottom: 14px;
}

ol {
  margin-left: 20px;
  padding-left: 0;
 }

button {
    font-size: medium;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 6px;
  background-color: #ff6b04;
  color: white;
}

button:hover {
    cursor: pointer;
  background-color: #cb5604;
}